
*.xcworkspacedata

*.xcuserstate

*.xcsettings

*.xcbkptlist

*.xcscheme

MyFirstGame.xcodeproj/xcuserdata/stefanjosten.xcuserdatad/xcschemes/xcschememanagement.plist

MyFirstGameTests/MyFirstGameTests-Info.plist

MyFirstGameTests/MyFirstGameTests.m

MyFirstGameTests/en.lproj/InfoPlist.strings

MyFirstGame/Images.xcassets/LaunchImage.launchimage/SplashiPadHorizontalRetina.png

MyFirstGame/Images.xcassets/LaunchImage.launchimage/SplashiPadHorizontalRetina.png

MyFirstGame/Images.xcassets/LaunchImage.launchimage/SplashiPhoneRetina.png

MyFirstGame/Images.xcassets/LaunchImage.launchimage/SplashiPhoneRetina.png

Default-568h@2x Kopie.png

Default-568h@2x Kopie.png
